html, body {
  min-width: 100vw !important;
  width: 100vw;
  min-height: 100vh !important;
  height: 100vh;
  top: 0;
  left: 0;
}

body {
  /* background-color: #555; */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

title {
  font-size: 14px;
  color: red;
}

.text-box {
  width: 250px;
  height: 50px;
  /* background-color: orange; */
  /* border: 1px solid orange; */
  font-size: 24px;
  font-weight: 600;
  color: white;
  position: fixed;
  bottom: 50px;
  /* top: 50px; */
  right: 25px;
  display: flex;
  align-items: center;
}
